h1#title, h2#authors {
	text-align: center;
}

#calendar {
	width: 175px;
	padding-top: 3px;
	padding-bottom: 3px;
	font-size: 16px;
}

#map {
	height: 70%;
}

div#infoWindowTitle {
	min-width: 375px;
}
div#infoWindowTitle > p {
	font-size: 18px;
}

div#infoWindowTitle > h3 > span {
	font-weight: normal;
	font-size: .8em;
	padding-left: .5em;
}

div#infoWindowTitle > h2, h3 {
	margin-top: 0;
	margin-bottom: 5px;
}

div#infoWindowTitle > p#gameScoreOutput {
	font-weight: bold;
}

div.column {
    float: left;
    width: 50%;
}

div.row {
	margin-left: 0;
	margin-right: 0;
}

div.row > img {
	vertical-align: middle;
	width: 30px;
	height: 30px;
}

div.row > span {
	margin-left: 3px;
	font-size: 1.1em;
	display: inline;
}

footer {
	padding-top: 10px;
	font-size: 16px;
}